language: clojure
lein: 2.6.1 # version 2 and up
jdk:
- openjdk8
after_script:
  - bash -ex test/coveralls.sh
jobs:
    include:
        - stage: lint
          before_script: pwd && ls
          script: lein clj-kondo --lint src test --cache false
        - stage: test
          script: lein eftest
notifications:
  recipients:
    - ido@appsflyer.com
